@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
	
}

.quan{
	width: 115px;
}
h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 55px;
}

h2{
font-family: 'Ubuntu', sans-serif;
font-size: 18px;
}
i{
	color: black;
}
input[type="number"]{
  -moz-appearance: textfield;
  text-align: right;
	font-size: 20px;
	box-sizing: content-box;
  margin: 0;
  width: 40px;
  font-family: 'Ubuntu', sans-serif;
  background-color: none;
	border: none;
}

input[type="submit"]{
	border: none;
	color: #ffc088;
	background-color: white;
	font-weight: bolder;
	font-size: 30px;
}

img{
	margin-bottom: 15%;
}

.tot{
	background-color: #ededed;
	text-align: right;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
}

.ch{
	 text-align: right;
}
.btn{
	margin-top: 1%;
	background-color: #1c1c1c;
	color: white;
	border: none;
	padding: 10px 35px;
}